@import "../../global.scss";

.skills{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .container{

        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px;
        padding-top: 10px;
        

        @include mobile{
            width: 90%;
            padding-top: 10px;
        }

        h1{
            font-size: 30px;
    
            @include mobile{
                font-size: 20px;
            }
        }

        .itemContainer{

            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;


            .item{
                width: 400px;
                height: 480px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                flex-direction: column;
                // background-color: yellow;

                @include mobile{
                    width: 150px;
                    height: 100px;
                }


                .cardItem{

                    width: 350px;
                    height: 450px;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    background-color: $mainColor;
                    box-shadow: 0px 0px 15px -8px rgb(48, 48, 48);
                    flex-direction: column;
                    transition: all 1s ease;

                    
                    @include mobile{
                        width: 80px;
                        height: 80px;
                    }

                    &:hover{
                        transform: scale(1.05);
                    }

                    h2{
                        font-size: 16px;
                        color: #00c3ff;
                        margin: 10px;
                    }

                    hr{
                        width: 320px;
                    }

                    .skillBlock{

                        width: 320px;
                        height: 90px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .skill{

                            width: 90px;
                            height: 80px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            transition: all 0.1s ease;
            
                            @include mobile{
                                width: 150px;
                                height: 100px;
                            }

                            &:hover{
                                transform: scale(1.05);
                            }
                            
                            .icon{
                                width: 45px;
                                height: 45px;
                            }

                            h4{
                                padding-top: 5px;
                                font-size: 10px;
                                color: #00c3ff;
                            }
                        }    
                    }     
                }
            }    
        }
    }

   
}


    