@import "../../global.scss";

.testimonials{
    background-color: #1d809f;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;

    a{
        text-decoration: none;
        color: white;
    }

    @include mobile{
        justify-content: space-around;
        height: 100%;
    }

    h1{
        font-size: 30px;

        @include mobile{
            margin-top: 10px;
            font-size: 15px;
        }
    }

    p{
        font-size: 12px;

        @include mobile{
            font-size: 7px;
        }
    }

    .container{
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile{
            height: 90%;
            flex-direction: column;

        }

        .card{
            width: 250px;
            height: 70%;
            border-radius: 10px;
            background-color: $mainColor;
            box-shadow: 0px 0px 15px -8px black;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 30px;
            
            transition: all 1s ease;

            @include mobile{
                width: 80%;
                height: 180px;
                margin: 5px 0;
                padding: 10px;
            }

            &.featured{
                width: 300px;
                height: 75%;
                margin: 0 30px;

                @include mobile{
                    width: 80%;
                    height: 180px;
                    margin: 1px;
                }
            }

            &:hover{
                transform: scale(1.1);
            }

            .top{
                display: flex;
                align-items: center;
                justify-content: center;

                .icon{
                    color: #ffffff;

                    @include mobile{
                        font-size: 10px;
            
                    }
                }

                img{
                    &.left,&.right{
                        height: 25px;
                        color: white;
                    }
                    &.user{
                        height: 60px;
                        width: 60px;
                        border-radius: 50%;
                        object-fit: cover;
                        margin: 0 30px;

                        @include mobile{
                            width: 35px;
                            height: 35px;
                        }
                    }
                }
            }

            .center{
                padding: 10px;
                border-radius: 10px;
                color: white;
                background-color: #225161;

                a{
                    color: #000000;
                }

                @include mobile{
                    font-size: 8px;
                    padding: 10px;
                    // display: none;
                }
            }

            .bottom{
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;

                h3{
                    margin-bottom: 5px;
                    color: #1d809f;
                    font-size: 18px;

                    @include mobile{
                        font-size: 10px;
                    }
                }

                h4{
                    color: white;
                    font-size: 15px;
                    margin: 10px;

                    @include mobile{
                        font-size: 8px;
                        margin: 0px;
                    }
                }   
                
                h5{
                    color: #1d809f;
                    font-size: 14px;
                    margin: 10px;

                    @include mobile{
                        font-size: 6px;
                    }
                }  
            }
        }
    }
}